<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mad_project">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ReplyQuestionActivity"/>
        <activity android:name=".AdminViewQuestion" />
        <activity android:name=".ShowAnswerActivity" />
        <activity android:name=".DisplayQuestionActivity" />
        <activity android:name=".AddQuestion">
            <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
        </activity>
        <activity android:name=".Admin_lessons" />
        <activity android:name=".Admin_profile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Admin_nav">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Admin_Lesson_java" />
        <activity android:name=".Admin_add_lesson" />
        <activity android:name=".AdminStudentsActivity" />
        <activity android:name=".SelectFavouritesActivity" />
        <activity android:name=".EditStudentActivity" />
        <activity android:name=".StudentProfileActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".StudentRegisterActivity" />
        <activity android:name=".AdminLoginActivity" />
        <activity android:name=".StudentLoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>